*{
    padding: 0;
    margin: 0;
    
}
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #081f37; 
    font-family: "Edu VIC WA NT Beginner", cursive;

    font-weight: 500;
    min-height: 100vh;
}
.container{
   text-align: center;
    color: black;
    max-width: 400px;
    min-height: 100px;
    background-color: #5fc9f3;
    padding: 12px 4px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
}
